# .gitignore

CardinalityEstimation/CMakeFiles/*
CardinalityEstimation/CMakeCache.txt
CardinalityEstimation/main
CardinalityEstimation/build/*
CardinalityEstimation/Makefile
agorize_playground/CardinalityEstimation/build/CMakeFiles/CMakeOutput.log
